.custom-swiper-button {

	.swiper-button-prev,
	.swiper-button-next {
		background: #00000094;
		height: 3rem;
		width: 1.5rem;
		// box-shadow: 0 1px 4px rgba(0, 0, 0, .12);

		&:after {
			font-size: 0.75rem;
			color: #fafafa;
		}

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}

	.swiper-pagination-bullet-active {
		background-color: #000;
	}
}